$body-color: #dfdfdf;

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: $body-color;
}

#content {
    display: grid;
    height: 100%;
    grid-template-rows: 10% 80% 10%;
}

#navbar {
    display: flex;
    width: 50%;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

#content-body {

}

.fade-out {
    animation-duration: 1s;
    animation-name: fadeout;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#social {

}