html,body {
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    background-color: whitesmoke
}

.title {
    font-size: 2em;
    margin-bottom: 0.1em;
    color: whitesmoke;
}


.general {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.etch-a-sketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85vh;
    background-color: crimson;
    border-radius: 5px;
    border: 2px solid rgb(177, 7, 41);
    box-shadow: 0px 2px 5px;
}

.grid-container {
    height: 60vh;
    width: 60vh;
    border: 1px solid black;
    display: grid;
}

.grid-row {
    display: grid; 
}

.grid {
    border: 1px solid black;
}

.grid-inputs {
    display: flex;
    width: 60vh;
    justify-content: space-between;
    padding-top: 0.5em;
}

#range-grid-size {
    width: 50vh;
}

input[type=range] {
    width: 100%;
    margin: 5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none;
}
  
input[type=range]::-webkit-slider-runnable-track {
    background: #dcdcdc;
    border: 0;
    border-radius: 18.3px;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
  
input[type=range]::-webkit-slider-thumb {
    margin-top: -5px;
    width: 15px;
    height: 15px;
    background: #1cbfff;
    border: 1px solid rgba(0, 0, 30, 0);
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
}
  
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f0f0f0;
}
  
input[type=range]::-moz-range-track {
    background: #dcdcdc;
    border: 0;
    border-radius: 18.3px;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #1cbfff;
    border: 1px solid rgba(0, 0, 30, 0);
    border-radius: 15px;
    cursor: pointer;
}
  
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5.9px 0;
    color: transparent;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
  
input[type=range]::-ms-fill-lower {
    background: #c8c8c8;
    border: 0;
    border-radius: 36.6px;
}
  
input[type=range]::-ms-fill-upper {
    background: #dcdcdc;
    border: 0;
    border-radius: 36.6px;
}
  
input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #1cbfff;
    border: 1px solid rgba(0, 0, 30, 0);
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
  
input[type=range]:focus::-ms-fill-lower {
    background: #dcdcdc;
}
  
input[type=range]:focus::-ms-fill-upper {
    background: #f0f0f0;
}

#text-grid-size {
    width: 5vh;
    border-radius: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
}

.buttons {
    display: flex;
    width: 60vh;
    justify-content: space-between;
    padding-bottom:0.5em
}

button {
    border:none
}

.btn {
    font-family: 'Press Start 2P', cursive;;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #D3D3D3;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}