.footer-container {
    width: 100%;
    box-sizing: border-box;
    background: #f2f2f2;
    position: relative;
    bottom: auto;
    padding: 15px 30px;
    color: rgba(0,0,0,0.54);
}

.footer-1 {
    border-bottom: 1px solid #dadce0;
}

.footer-container ul {
    display: flex;
}

.footer-container li {
    padding: 0px 20px;
}

.footer-2 {
    display: flex;
    justify-content: space-around;
}