.navtext a {
    color: #222;
    text-decoration: none;
}

.navtext a:hover {
    text-decoration: underline;
}

.nav-container {
    display: flex;
    height: 48px;
    padding-right: 4px;
    float: right;
    width: min-content;
}

.navtext {
    display: inline-flex;
    padding-right: 15px;
    height: 48px;
    align-items: center;
}

.navtext div {
    padding-right: 15px;
} 

.icons {
    display: inline-flex;
    height: 48px;
    align-items: center;
    padding-right: 15px;
}

.circle {
    border-radius: 50%;
    position: relative;
    background-color: white;
    height: 40px;
    width: 40px;
}

.circle:hover {
    background-color: rgb(220, 222, 224);;
}

.app-logo {
    padding: 8px;
    position: relative;
    fill: rgb(95, 99, 104);
}

.app-logo:hover {
    cursor: pointer;
}

.btn {
    box-sizing: border-box;
    margin: 0px 8px;
    min-width: 96px;
    padding: 9px 23px;
    background-color: rgb(26,115,232);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(46, 136, 253);
}